@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
body {
  /*fallback for old browsers*/
  background: #c7e6ec;
  /* Chrome 10-25, Safari 5.1-6*/
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 16px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100%;
  background-attachment: fixed; 
  overflow-x: hidden;
}

.dark {
  /* background: #5b6467; */
  /*fallback for old browsers*/
  /* Chrome 10-25, Safari 5.1-6*/
  background: #01021d
  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.title {
  font-family: "Lobster", cursive;
  font-size: 7vw;
  text-align: center;
}

@media (max-width: 500px) {
  .title {
    font-size: 20vw;
  }
}

.titleheader {
  margin-top: -10vh;
  padding-top: 12vh;
  /* background: url("https://usersthink.com/img/99-free-images-small/02-usersthink-stock-image-small.jpg"); */
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.get-started {
  margin-top: 20px;  
}

.get-started h1{
  text-align: left;
  margin-left: 5vw;
  color: #061320;
}
.dark .get-started h1{
  color: aliceblue;
}


.content{
  margin-top: 20vh;
}
.content h1{
  font-family: "Lobster", cursive;
  font-size: 7vw;
  text-align: center;
  color: #061320;
  visibility: hidden;
  animation: removeHide 0s ease-out 0.8s 1 forwards;
}
.pre{
  color:#061320;
}
.dark .pre{
  color: aliceblue;
}
.dark .content h1{
  color:aliceblue;
}
@keyframes removeHide{
  100%{
      visibility: visible;
  }
}
.content h2{
  margin-top: 10vh;
  color: #BAC3CF;
  font-size: 2rem;
}
.role{
  font-family: "Lobster", cursive;
  color: #F14B4B;
  border-right: 3px solid #F14B4B;
}